# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some important languages for Data science are
1. Python
2. R
3. SQL

Some common libraries for Data science are:
1. Pandas
2. NumPy
3. Tensorflow
4. matplotlib
5. PyTorch

Table of Data Science tools with example:
|Open source tools| Commercial tools| Cloud based tools|
|--|--|--|
|mongoDB| Watson Studio| couchDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
min = 200

hour = min/60 #This will convert 200 minutes to hours by diving by 60.

print(min, "minutes is equal to", hour, "hours.")

200 minutes is equal to 3.3333333333333335 hours.

**Objectives**
* Create markdown cell with title of the notebook
* Create a markdown cell to list data science languages
* Create a code cell to convert minutes to hours
* Create a markdown cell to indicate the Author's name

## Author <br>
Tushar Mane